#*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.err

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# Eclipse project files
.classpath
.project
.settings/

# temporary files
*.log
*.err

# Intellij project files
*.iml
.idea/

# Others
target/
logs/
/demo/src/main/webapp/static/roadmap
/demo/src/main/webapp/static/images/url
/demo/src/main/webapp/.allow-devtools-edit
/demo/src/main/webapp/WEB-INF/views/weibo/Copy of map.jsp
be.tarsos.lsh.families.CosineHashFamily_5_5.bin
node_modules
dist
