<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender
            name="console"
            class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender
            name="rollingFile"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/demo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/airport-big.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender
            name="traceRollingFile"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/demo-trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/airport-big-trace.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger
            name="airport.web.restful"
            level="INFO"/>
    <logger
            name="airport.web.restful.service"
            level="INFO"
            additivity="false">
        <appender-ref ref="traceRollingFile"/>
    </logger>
    <!--spring -->
    <logger
            name="org.springframework.beans"
            level="INFO"/>
    <logger
            name="org.springframework.web"
            level="WARN"/>
    <!--log4jdbc -->
    <logger
            name="jdbc.sqltiming"
            level="INFO"/>
    <logger
            name="org.apache.commons.beanutils"
            level="WARN"/>
    <logger
            name="org.apache.zookeeper"
            level="INFO"/>
    <logger
            name="org.apache.hadoop"
            level="INFO"/>
    <logger
            name="org.eclipse.jetty.webapp.WebAppClassLoader"
            level="INFO"/>
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>
